.Chatmain
  .RightHeader
    .RightHeader__group
      .RightHeader__groupname
        = @group.name
      .RightHeader__groupmenberlist
        Member:&nbsp
        - @group.users.each do |user|
          .RightHeader__groupmenber
            = user.name

    = link_to edit_group_path(@group) ,class: "RightHeader__editbtn" do
      Edit
    
  
  .Message
    = render @messages
    
    
  .MessageForm
    = form_with model: [@group, @message], html: {class: 'MessageForm__group'}, local: true do |f|
      .MessageForm__list
        = f.text_field :content, class: 'MessageForm__input', placeholder: 'type a message'
        = f.label :image, class: 'MessageForm__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'btn'
      = f.submit 'Send', class: 'MessageForm__post'