.Sidebar
  .SidebarHeader
    .SidebarHeader__list
      .SidebarHeader__user-name
        = current_user.name
      -# ログインしているユーザーの名前を出す
      %ul.SidebarHeader__icons
        %li.SidebarHeader__icon
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit' )
        %li.SidebarHeader__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog' )

  .SidebarGroup
    - current_user.groups.each do |group|
      .SidebarGroup__list
        = link_to group_messages_path(group),class: "groupedit" do
          .SidebarGroup__name
            = group.name
          .SidebarGroup__message
            = group.show_last_message
